<div class="row">
  <div class="col-md-12">
    <h1>Surl</h1>
    <h3>My First SailsJS Project</h3>
    <hr>
    <p>This is just a really simple URL shortener. To use it, just type an URL in the box below and click on "Shorten It!" to get a shorter version of it. Have fun!</p>
    <hr>
    <form action="process" method="post">
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <p><input type="text" class="form-control" autofocus placeholder="Type your URL..." name="url" /></p>
          <p><button type="submit" class="btn btn-success">Shorten It!</button></p>
        </div>
      </div>
    </form>
  </div>
</div>
